<div class="row">
  <div class="col-10">
    <h4 style="text-align: center;">Reportes por departamentos</h4>
    <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="datos"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
  </div>
  <div class="col-2"></div>
</div>

<div class="row mt-5">
  <div class="col-10">
    <h4 style="text-align: center;">Áreas por departamento</h4>
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="datosChartDeparment"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>

  </div>
  <div class="col-2">
    Departamento
    <select id="disabledSelect" name="my-select"  class="form-control in-line" (change)='selectDepartmentChanged($event)'>
      <option value='-1' >Ninguno</option>
      <option *ngFor="let item of datosDepartments;let i=index" value='{{i}}' >{{item.name}}</option>
    </select>
  </div>
</div>



<div class="row mt-5">
  <div class="col-10">
    <h4 style="text-align: center;">Departamentos por área</h4>
      <ngx-charts-bar-vertical
        [view]="view"
        [scheme]="colorScheme"
        [results]="datosChartArea"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>

  </div>
  <div class="col-2">
    Area
    <select id="disabledSelect" name="my-select"  class="form-control in-line" (change)='selectAreasChanged($event)'>
      <option value='-1' >Ninguno</option>
      <option *ngFor="let item of datosAreas;let i=index" value='{{i}}' >{{item.name}}</option>
    </select>
  </div>
</div>



