
  <div class="container">


    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-8 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-3 d-none d-lg-block"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-white mb-4" style="font-size: 500%; background-color: #134074;">SIEP</h1>
                  </div>
                  <form class="user" (submit)="onLogin()">
                    <div class="form-group">
                      <input [(ngModel)]="email" type="text" class="form-control form-control-user" id="usuarioAdmin" name="usuarioAdmin" placeholder="Usuario...">
                    </div>
                    <div class="form-group">
                      <input [(ngModel)]="password" type="password" class="form-control form-control-user" id="contrasenaAdmin" name="contrasenaAdmin" placeholder="Contraseña">
                    </div>

                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Iniciar sesión.
                    </button>
                    <hr>

                  </form>


                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
