
          <form>
            <div class="form-row">
              <div class="col">
                <label for="disabledSelect">Area</label>
            <select id="disabledSelect" name="my-select"  class="form-control in-line" (change)='selectAreaChanged($event)'>
              <option value='-1' >Todo</option>
              <option *ngFor="let item of areas_array;let i=index" value='{{i}}' >{{item.area}}</option>
            </select>

              </div>
              <div class="col">
                <label for="disabledSelect">Tipo</label>
            <select id="disabledSelect" class="form-control in-line" (change)='selectTipoChanged($event)'>
              <option value='-1' >Todo</option>
              <option *ngFor="let item of tipos_array;let i = index" value='{{i}}'>{{item}}</option>

            </select>
              </div>
              <div class="col">
                <label for="disabledSelect">Departamento</label>
            <select id="disabledSelect" class="form-control in-line" (change)='selectDepartamentChanged($event)'>
              <option value='-1' >Todo</option>
              <option *ngFor="let item of departamentos_array;let i = index" value='{{i}}'  >{{item}}</option>
            </select>
              </div>
              <div class="col">
                <label for="disabledSelect"> Acciones</label>
                <button (click)='filterMarkers()' type="button" class="btn btn-primary form-control in-line">Filtrar</button>

              </div>
            </div>
          </form>


          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Fecha</th>
                    <th>Título</th>
                    <th>Area</th>
                    <th>Tipo</th>
                    <th>Opción</th>
                  </tr>
                </thead>
                <tbody>

                    <tr  *ngFor="let reporte of reportes">
                      <td>{{reporte.fecha['_seconds']* 1000 | date:'dd-MM-yyyy'}}</td>
                      <td>{{reporte.titulo}}</td>
                      <td>{{reporte.area}}</td>
                      <td>{{reporte.tipo}}</td>
                      <td>

                      <a  [routerLink]="['/panel/detallereporte/',reporte.id]" class="btn btn-sm btn-outline-info" target="_blank">Detalle</a>
                      </td>
                    </tr>


                </tbody>
              </table>
            </div>
          </div>
          <div style="text-align: right;">
            <button class="btn btn-light" (click)="goBackHistory()">
              Anterior
            </button>
            <button  class="btn btn-light " (click)="goFrontHistory()">
              Siguiente
            </button>
            </div>
