<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-2 d-none d-lg-block"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Crear nuevo Usuario </h1>
            </div>
            <form class="user">
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="nombre" name="nombre" placeholder="Nombre" #nombre>
                </div>
                <div class="col-sm-6">
                  <input type="text" class="form-control form-control-user" id="apellido" name="apellido" placeholder="Apellidos" #apellido>
                </div>
              </div>

              <div class="form-group row">
                <div class="col">
                  <input type="text" class="form-control form-control-user" id="email" name="email" placeholder="Correo electrónico" #email>
                </div>

              </div>
              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <input type="password" class="form-control form-control-user" id="contrasena1" name="contrasena1" placeholder="Contraseña"  #password1>
                </div>
                <div class="col-sm-6">
                  <input type="password" class="form-control form-control-user" id="contrasena1" name="contrasena2" placeholder="Contraseña" #password2>
                </div>
              </div>
              <button type="button" class="btn btn-primary btn-user btn-block" (click)="verificarDatosDeRegistro(password1.value, password2.value, nombre.value, apellido.value, email.value)">
                Registrar
              </button>

              <hr>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
