

          <form>
            <div class="form-row">
              <div class="col">
                <label for="disabledSelect">Area</label>
            <select id="disabledSelect" name="my-select"  class="form-control in-line" (change)='selectAreaChanged($event)'>
              <option value='-1' >Todo</option>
              <option *ngFor="let item of areas_array;let i=index" value='{{i}}' >{{item.area}}</option>
            </select>

              </div>
              <div class="col">
                <label for="disabledSelect">Tipo</label>
            <select id="disabledSelect" class="form-control in-line" (change)='selectTipoChanged($event)'>
              <option value='-1' >Todo</option>
              <option *ngFor="let item of tipos_array;let i = index" value='{{i}}'>{{item}}</option>

            </select>
              </div>
              <div class="col">
                <label for="disabledSelect">Departamento</label>
            <select id="disabledSelect" class="form-control in-line" (change)='selectDepartamentChanged($event)'>
              <option value='-1' >Todo</option>
              <option *ngFor="let item of departamentos_array;let i = index" value='{{i}}'  >{{item}}</option>
            </select>
              </div>
              <div class="col">
                <label for="disabledSelect"> Acciones</label>
                <button (click)='filterMarkers()' type="button" class="btn btn-primary form-control in-line">Filtrar</button>

              </div>
            </div>
          </form>
          <!-- app.component.html -->
<div class="row mt-1">
  <div class="col">
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" >

      <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
        <agm-marker *ngFor="let maker of markers" [latitude]='maker.ubicacion._latitude' [longitude]='maker.ubicacion._longitude' >
          <agm-info-window [disableAutoPan]="true">
            <h6>Titulo: {{maker.titulo}}</h6>

            <a  [routerLink]="['/panel/detallereporte/'+maker.id]" class="btn btn-sm btn-primary" target="_blank">Detalle</a>
          </agm-info-window>
          <!-- ..-->
        </agm-marker>
      </agm-marker-cluster>
    </agm-map>
  </div>

</div>
<div class="row mt-1">
  <div class="col">
  </div>
</div>
