<a  routerLink="/admin/registrarusuario" class="btn btn-primary btn-icon-split">
  <span class="text">Crear Usuario</span>
</a>

  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Correo</th>
            <th>Nombre</th>
            <th>Verificado</th>
            <th>Habilitado</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usuariosList">
            <td>{{user.email}}</td>
            <td>{{user.nombre}}</td>
            <td *ngIf="user.verificado; else noVerificado"><img src="../assets/img/icons/check.svg" style="width: 2em;"  class="mx-auto d-block mt-2"></td  >

              <td *ngIf="!user.habilitado; else noVerificado"><img src="../assets/img/icons/check.svg" style="width: 2em;"  class="mx-auto d-block mt-2"></td  >
            <td>
              <button *ngIf="!user.habilitado; else noHabilitado" class="btn btn-danger " (click)="disableUser(user.uid)">Inhabilitar</button>
              <ng-template #noHabilitado><button  class="btn btn-success" (click)="enableUser(user.uid)">Habilitar</button></ng-template>
              <button type="button"  class="btn btn-success" (click)="sendResetPasswordEmail(user.email)">
              Restablecer</button>
            </td>
          </tr>
          <ng-template #noVerificado><td><img src="../assets/img/icons/remove.svg" style="width: 2em;" class="mx-auto d-block mt-2"></td></ng-template>

        </tbody>
      </table>
      </div>

  </div>
<!--
    <div style="text-align: right;">
      <a href="#" class="btn btn-light btn-icon-split">
        <span class="text-gray-600"></span>
        <span class="text">Anterior</span>
      </a>
      <a href="#" class="btn btn-light btn-icon-split">
        <span class="text">1</span>
      </a>
      <a href="#" class="btn btn-light btn-icon-split">
        <span class="text">2</span>
      </a>
      <a href="#" class="btn btn-light  btn-icon-split">
        <span class="text-gray-600"></span>
        <span class="text">Siguiente</span>
      </a>
      </div>
-->
