<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-2 d-none d-lg-block"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Crear nueva Contraseña</h1>
            </div>
            <form class="user">
              <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="nuevaContrasena" name="nuevaContrsena" placeholder="Nueva Contraseña">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12 mb-3 mb-sm-0">
                  <input type="text" class="form-control form-control-user" id="repetirContrasena" name="repetirContrasena" placeholder="Repetir Contraseña">
                </div>
              </div>
              <a href="administracionUsuario.html" class="btn btn-primary btn-user btn-block">
                Guardar
              </a>
              <hr>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>