<h5 style="text-align: center;">Denuncia Ciudadana</h5>
<div class="card-body">
    <div class="table-responsive" >
      <table class="table" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Titulo</th>
            <th>Area:</th>
            <th>Tipo:</th>
            <th>Localización</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{data.titulo}}</td>
            <td>{{data.area}}</td>
            <td>{{data.tipo}}</td>
            <td>{{data.lugar}}</td>
          </tr>
          <tr>
            <th colspan="4" class="text-center">Descripción</th>
          </tr>
          <tr>
            <td colspan="4">{{data.descripcion}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4"> <div *ngIf="data.fotografia[0]"><img src="{{data.fotografia[0]}}" style="max-width: 100%;"></div></div>
      <div class="col-4"> <div *ngIf="data.fotografia[1]"><img src="{{data.fotografia[1]}}" style="max-width: 100%;"></div></div>
      <div class="col-4"> <div *ngIf="data.fotografia[2]"><img src="{{data.fotografia[2]}}" style="max-width: 100%;"></div></div>
  </div>
  </div>

