
  <div class="container">


    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-8 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-3 d-none d-lg-block"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">

                    <h1 class="h4 text-white mb-4" style="font-size: 250%; background-color: skyblue;">ADMIN</h1>
                  </div>
                  <form class="user">
                    <div class="form-group">
                      <input #username type="text" class="form-control form-control-user" id="usuarioAdmin" name="usuarioAdmin" aria-describedby="emailHelp" placeholder="Usuario...">
                    </div>
                    <div class="form-group">
                      <input #password type="password" class="form-control form-control-user" id="contrasenaAdmin" name="contrasenaAdmin" placeholder="Contraseña">
                    </div>

                    <button type="button" class="btn btn-primary btn-user btn-block" (click)="authService.login(username.value, password.value)">
                      Login
                    </button>
                    <hr>

                  </form>

                  <div class="text-center">
                    <a class="small" href="forgot-password.html">Olvidaste tu contraseña?</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
